/* Navbar */

.navbar {
    background: #044863;
    height: 80px;
}

.nav-link,
.navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}

.navbar-collapse {
    justify-content: flex-end;
}


/* Header style */

.header {
    height: 80px;
    background-color: #044863;
    min-height: 80px;
    width: 100%;
}

.header {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


/* Menu style */

.layout_menu {
    background-color: #2A2F33;
}

.layout_menu .list-group {
    background-color: #2A2F33;
    border-radius: 0;
    text-align: left;
}

.layout_menu .list-group a {
    padding: 15px 40px;
}

.layout_menu .list-group .list-group-item {
    background-color: #2A2F33;
    color: white;
}

#category-1:hover {
    background-color: #FB474A;
}

#category-2:hover {
    background-color: #F98F04;
}

#category-3:hover {
    background-color: #05C989;
}


/* Content style */

.content {
    height: 100%;
    min-height: 500px;
}

.layout_content {
    background-color: #EDEFF0;
    min-height: 520px;
    /* height: 80%; */
    min-width: 150px;
    padding: 80px;
}

.category_card {
    background-color: #EDEFF0;
    border: 0;
}

.category_card .card-body {
    background-color: white;
    border-radius: 5px;
    margin: 0;
    margin-top: 25px;
}

.category_card .card-header {
    background-color: #EDEFF0;
    border: 0;
}


/* List view */

.list-view {
    background-color: white;
    border-radius: 5px;
}

.list-view .card {
    border-radius: 0;
    border: 0;
}

.list-view .card-img-overlay {
    top: auto;
    bottom: 0;
    color: white;
    margin: 0;
    padding: 0 5px 16px 5px;
    font-size: 12px;
}

.list-card-vertical {
    min-height: 300px;
    /* padding: 10px; */
}

.list-card-vertical .card-footer {
    /* padding: 0; */
    font-size: 11px;
    background-color: white;
    border: 0;
    margin: 0;
}


/* .item-viewer {
    color: #fff;
    padding: 10 px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(10 px);
    background: #0fb3f3;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 700;
    line-height: 15px;
} */


/* Footer style*/

.layout_footer {
    background-color: white;
    font-size: 14px;
    display: block;
    color: #222;
    text-transform: uppercase;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    max-height: 80px;
}