a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.carousel-indicators>button,
.carousel-indicators>button.active {
    width: 10px;
    height: 10px;
    border-radius: 10;
    background: white;
}

.pr-0 {
    padding-right: 0;
}

.mb-40 {
    margin-bottom: 40px;
}

.card .card-footer {
    min-height: 40px;
    font-size: 14px !important;
    padding: 5px 20px 15px;
    color: #777;
    text-align: left;
}

.card .card-footer .time-right {
    text-align: right;
}


/* Text style */

.text-underline-red {
    text-decoration: underline red solid;
    font-size: 25px;
}

.card-title {
    font-size: 16px;
    text-transform: uppercase;
    color: #2d2d2d;
    font-weight: 700;
    padding-bottom: 10px;
}

.card-body .card-text {
    color: #777;
    font-size: 14px;
}

.card-header span {
    font-size: 26px;
}


/* Navbar */

.navbar {
    background: #044863;
    height: 80px;
}

.nav-link,
.navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}

.navbar-collapse {
    justify-content: flex-end;
}


/* Header style */

.header {
    height: 80px;
    background-color: #044863;
    min-height: 80px;
    width: 100%;
}

.header {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


/* Slider bar */

.slider-bar {
    min-height: 400px;
}

.slider-bar .list-card-slidebar {
    background-color: #EDEFF0;
}

.slider-bar .card {
    background-color: #EDEFF0;
    padding: 0;
    border: 0;
}

.slider-bar .card img {
    height: 440px;
}

.list-card-slidebar .card img {
    height: 200px;
}

.slider-bar .card .card-img-overlay {
    top: auto;
    bottom: 0;
    color: white;
    margin: 0;
    padding: 0 15px 25px 15px;
    font-size: 16px;
}


/* Menu style */

.layout_menu {
    background-color: #2A2F33;
}

.layout_menu .list-group {
    background-color: #2A2F33;
    border-radius: 0;
    text-align: left;
}

.layout_menu .list-group a {
    padding: 15px 40px;
}

.layout_menu .list-group .list-group-item {
    background-color: #2A2F33;
    color: white;
}

#category-1:hover {
    background-color: #FB474A;
}

#category-2:hover {
    background-color: #F98F04;
}

#category-3:hover {
    background-color: #05C989;
}


/* Content style */

.content {
    height: 100%;
    min-height: 500px;
}

.layout_content {
    background-color: #EDEFF0;
    min-height: 520px;
    /* height: 80%; */
    min-width: 150px;
    padding: 80px;
}

.category_card {
    background-color: #EDEFF0;
    border: 0;
}

.category_card .card-body {
    background-color: white;
    border-radius: 5px;
    margin: 0;
    margin-top: 25px;
}

.card-header {
    background-color: #EDEFF0;
    border: 0;
}


/* List view */

.list-view {
    background-color: white;
    border-radius: 5px;
}

.list-view .card {
    border-radius: 0;
    border: 0;
}

.list-view .card-img-overlay {
    top: auto;
    bottom: 0;
    color: white;
    margin: 0;
    padding: 0 5px 16px 5px;
    font-size: 12px;
}

.list-card-vertical {
    min-height: 300px;
    /* padding: 10px; */
}

.list-card-vertical .card-footer {
    /* padding: 0; */
    font-size: 11px;
    background-color: white;
    border: 0;
    margin: 0;
}

.list-new-card-vertical {
    min-height: 400px;
    margin-inline: 10px;
    /* padding: 10px; */
}

.list-new-card-vertical .card-footer {
    /* padding: 0; */
    font-size: 13px;
    background-color: white;
    border: 0;
    margin: 0;
}

.item-viewer {
    color: #fff;
    padding: 10 px;
    position: absolute;
    right: 0;
    background: #0fb3f3;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 700;
    line-height: 15px;
    height: 30px;
    width: 50px;
    text-align: center;
}

.item-new {
    z-index: 1;
    position: absolute!important;
    box-sizing: content-box!important;
    padding: 1.4px 4px 0.5px 6px !important;
    font-weight: 500!important;
    font-size: 12px!important;
    background: #ffae01;
    color: #fff;
    border-radius: 10px;
    letter-spacing: .1em;
    text-align: center;
    text-transform: uppercase;
    top: 5px;
    left: 5px;
}

.item-viewer i {
    position: absolute;
    margin-left: -15px;
    margin-top: 10px;
}

.list-view .item-viewer {
    transform: translate(10px);
    height: 30px;
    width: 50px;
    text-align: center;
}

.list-card-vertical .item-viewer {
    top: 100px;
    transform: translate(10px);
}

.list-card-vertical .item-viewer::after {
    border-right: 10px solid transparent;
    border-top: 7px solid rgba(0, 0, 0, .5);
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    content: "";
    position: absolute;
}

.list-new-card-vertical .item-viewer {
    top: 130px;
    transform: translate(10px);
}

.list-new-card-vertical .item-viewer::after {
    border-right: 10px solid transparent;
    border-top: 7px solid rgba(0, 0, 0, .5);
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    content: "";
    position: absolute;
}

.slider-bar .item-viewer {
    transform: translate(10px);
}

.slider-bar .item-viewer::after {
    border-right: 10px solid transparent;
    border-top: 7px solid rgba(0, 0, 0, .5);
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    content: "";
    position: absolute;
}

.list-view .item-viewer ::after {
    border-right: 10px solid transparent;
    border-top: 7px solid rgba(0, 0, 0, .5);
    bottom: 0;
    top: 13px;
    right: -13px;
    transform: translateY(100%);
    content: "";
    position: absolute;
}


/* Footer style*/

.layout_footer {
    background-color: white;
    font-size: 14px;
    display: block;
    color: #222;
    text-transform: uppercase;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    max-height: 80px;
}

.link-footer {
    color: #222;
    text-decoration: underline;
}